.headerImg {
    background-image: url('../img/cows.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 100vw;
    min-height: 20rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.headerFont {
    font-size: 3rem;
    color: white;
    text-shadow: 2px 2px 2px black;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.button {
    width: 15rem;
    height: 3rem;
    border-radius: 15px;
    background-color: cornflowerblue;
    font-size: large;
}

.input {
    width: 20rem;
    height: 3rem;
    border-radius: 15px;
}

.form {
    width: 20rem;
    padding: 2rem;
}

.cowInfo {
    padding: 2rem;
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.medicineContain {
    padding: 2rem;
    min-width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}