@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  font-family: 'Open Sans', sans-serif
}

a {
  text-decoration: none;
}

h2 {
  font-size: large;
}

.App {
  min-width: 100vw;
  min-height: 100vh;
  background-color: rgb(151, 160, 166);
}

.root {
  min-width: 100vw;
  min-height: 100vh;
}